@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body{
    font-family: "Nunito Sans", serif;
    font-weight: 400;
}

h1,h2,h3,h4,strong{
    font-family: "Nunito Sans", serif;
    font-weight: 600;
}

header a{
    text-transform: uppercase;
}

header nav a{
    text-decoration: none;
}
  
header nav a.active{
    text-decoration: underline;
}

hr{ /*meilleur methode que j'ai trouvé pour crée la ligne bleu présente sur la maquette*/
    width: 25%;
    margin: 0 auto;
    border: 3px solid #007bff;
    opacity: 1.0 /*nescessaire car le CSS de bootstrap rend les hr transparent*/
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: white;
    font-weight: bold;
}

.card:hover{
    background: #efefef;
    box-shadow: 1px 1px 5px;
}

.noWrap{
    white-space: nowrap;
}

.icon{
    color: #818181b0;
    font-size: 2rem;
    margin-right: 0.5rem;
}

/* methode pour la background image pris ici: https://www.geeksforgeeks.org/how-to-set-background-images-in-reactjs/ */
.bgImage {
    background-image: url("../src/images/hero-bg.jpg");
    background-size:cover;
    height: 110vh;
    background-repeat: no-repeat;
    background-position: center;
}

.min-vh-20{ /*classe custom basée sur min-vh-100 de bootstrap*/
    min-height: 20vh;
}


